<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703700374903-phon209a2g1su55bi32gqt126b2vg94n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703700374903-phon209a2g1su55bi32gqt126b2vg94n</string>
	<key>API_KEY</key>
	<string>AIzaSyADo9j5EPWduzbYkvfm46vV-exCrwNi_e4</string>
	<key>GCM_SENDER_ID</key>
	<string>703700374903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrecosta.groupup</string>
	<key>PROJECT_ID</key>
	<string>groupup-432b8</string>
	<key>STORAGE_BUCKET</key>
	<string>groupup-432b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703700374903:ios:26f9849b59358b154cbd72</string>
</dict>
</plist>
